.Footer {
    text-align: center;
    color: white;
  }

/* CSS */
.capture {
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  font-weight: bold;
  background-color: #1CB0F6;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 5px 0px #1899D6;
  width: 75px;
  height: 30px;
}

.capture:hover {
  filter: brightness(1.1);
}

.capture:active {
  background-color: #1899D6;
  box-shadow: 0px 5px 0px #1586bb;
}